# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable html-helper': 'html-helper:toggleAutoclose'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'HTML Helper'
      'submenu': [
        { 'label': 'Close Element', 'command': 'html-helper.closeElement' }
      ]
    ]
  }
]
