# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'HTML Helper'
      'submenu': [
        { 'label': 'Close Element', 'command': 'html-helper:closeElement' }
      ]
    ]
  }
]
